<form action="/" method="post">
  <input type="hidden" name="_csrf_token" value="<%= @csrf_token %>">
  <input type="color" name="color" onchange="submit()" value="<%= @color %>" style="width:101%">
</form>
